<div class="modal-overlay" [class.active]="isModalOpen">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Cập nhật thông tin</h5>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>
    <div class="modal-body">
      <form [formGroup]="employeeForm" (ngSubmit)="onUpdateSubmit()">
        <div class="form-group">
          <label>RFID</label>
          <input type="text" formControlName="RFID">
        </div>
        <div class="form-group">
          <label for="hoten">Họ và Tên</label>
          <input type="text" id="hoten" formControlName="HoVaTen">
          <div *ngIf="employeeForm.get('HoVaTen')?.invalid && employeeForm.get('HoVaTen')?.touched" class="validation-error">
            Họ và tên là bắt buộc.
          </div>
        </div>
        <div class="form-group">
          <label for="ngaysinh">Ngày Sinh</label>
          <input type="date" id="ngaysinh" formControlName="NgaySinh">
        </div>
        <div class="form-group">
          <label for="sdt">Số Điện Thoại</label>
          <input type="text" id="sdt" formControlName="SoDienThoai">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="Email">
          <div *ngIf="employeeForm.get('Email')?.invalid && employeeForm.get('Email')?.touched" class="validation-error">
            Vui lòng nhập email hợp lệ.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Hủy</button>
          <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Lưu Cập Nhật</button>
        </div>
      </form>
    </div>
  </div>
</div>
